@use "variables" as *;

:root {
  scroll-behavior: smooth;
  font-size: 14px;

  // Disable smooth scroll when the user has set "prefers-reduced-motion"
  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }

  
}

html {
  background-color: $white;
}

body {
  position: relative;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}


.display-1 {
  font-size: clamp(2.7rem, 8vw, 5.5rem);
}

.display-2 {
  font-size: clamp(2.3rem, 7vw, 4.5rem);
}

.display-3 {
  font-size: clamp(1.9rem, 6vw, 3.5rem);
}

.display-4 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

.lead {
  font-size: clamp(1.1rem, 3vw, 1.25rem);
}

a {
  color: var(--#{$prefix}link-color);

  &:hover {
    color: var(--#{$prefix}link-hover-color);
  }

  &:not([class]) {
    text-decoration: underline;
  }

 
}

.com-content-article {
  ol,
  ul {
    overflow: hidden;
  }
}

small,
.small {
  font-size: $font-size-sm;
}

dd {
  padding: 0;
  word-wrap: break-word;
}

.com-contact__thumbnail {
  text-align: left;
}

@include media-breakpoint-up(xl) {
  dl.dl-horizontal {
    display: grid;
    grid-template-columns: auto 1fr;

    dt {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    dd {
      grid-column-start: 2;
      grid-column-end: 3;
      padding: 0 0 0 0;
      margin-bottom: 0;
    }
  }

  .com-contact__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 1rem;
    margin-bottom: 0;

    h3 {
      grid-column: 1 / 5;
    }

    .com-contact__thumbnail {
      grid-column: 3 / 5;
      grid-row: 2 / 5;
      margin-bottom: 0;
      text-align: right;
    }

    .com-contact__position {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }

    .com-contact__info {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }
  }

  .com-users-profile {
    dt {
      min-width: 180px;
    }
  }
}



figcaption {
  font-size: .9em;
  color: $gray-600;
}

.mod-menu {
  flex-direction: column;
}

// meter element
meter {
  width: 100%;
}

.pagenavigation,
.pager {
  clear: both;
  .pagination {
    justify-content: space-between;
    padding: 0;
    margin: auto 0;

    .next:only-child {
      margin-left: auto;
    }
  }
}

.page-link {
  color: var(--#{$prefix}link-color);
  &:hover {
    color: var(--#{$prefix}link-color);
  }
}

.pager {
  .pagination {
    justify-content: center;
  }
}

[dir="rtl"] li.next .page-link {
  border-top-left-radius: .25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: .25rem;
}

[dir="rtl"] li.previous .page-link {
  border-top-left-radius: 0;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: 0;
}

.article-index {
  .toclink.active {
    color: currentColor;
  }
}

// Bootstrap 4 b/c
.sr-only {
  @extend .visually-hidden;
}

// Frontend Editing

.btn.jmodedit {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  z-index: 900;
  color: var(--#{$prefix}link-color);
  background-color: rgba(255,255,255,.5);
  border: 1px solid #58595a;
  border-radius: .25rem;
}

// Iframe

iframe {
  border: 0;
}

.modal iframe {
  width: 100%;
}

// Legacy

.left.item-image {
  float: left;
}
.right.item-image {
  float: right;
}
// Tags

.tags {
  .list-inline-item {
    margin: .25rem .25rem .5rem;
  }
  a.btn {
    font-weight: 700;
  }
}

.tag {
  display: inline-block;
  padding: .5rem .5rem .5rem 0;
}
// Utilities

// Keep B/C
.element-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}

.hidden {
  display: none;
  visibility: hidden;
}

.table-row {
  display: table-row;
}

joomla-alert {
  display: none;
}

.editor-xtd-buttons .btn {
  margin-bottom: 5px;
}
.js-stools-container-bar {
  padding: 10px 20px;

  .btn-toolbar {
    justify-content: flex-end;

    > * {
      margin: 4px 0;
      margin-inline-end: 8px;
    }

    .js-stools-btn-clear {
      background-color: $cyan;
      border: 0;
    }
  }

  .ordering-select {
    display: flex;
  }
}

.js-stools-container-filters {
  display: none;
  padding: 0 20px;
  margin-bottom: 20px;

  &-visible {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    padding: 10px;
    background-color: $white;
  }

  > * {
    margin: 4px 0;
    margin-inline-end: 8px;
  }
}

.js-stools-field-list {
  + .js-stools-field-list {
    margin-inline-start: 8px;
  }
}

.js-stools-field-selector {
  .form-select {
    width: auto;
  }
}
