/* ##########################  menu  ########################### */

/* MENU Inicio ////////////////////////*/
.menu-hor {background: url("../images/menu-barra-1.png") no-repeat scroll center top transparent;
    height: 64px;position: relative;width: 980px;z-index: 100;}
    ul.menumenutop{}
    ul.menumenutop li{list-style:none; width: 100px; float: left; background:none;}
    
    /******************* MENU LEFT ***************/
    .moduletable_menu_left ul.menu {width: 210px;}
    .moduletable_menu_left ul.menu li ul li {background: none; list-style: none outside none;}
    .moduletable_menu_left ul.menu li span.separator { display: block;font-size: 22px;margin-bottom: 5px;margin-top: 15px;}
    .moduletable_menu_left ul.menu li a{padding: 3px 2px 3px 0!important;font-weight: normal !important;}
    
    /* #############  Menu Footer (fundo)  ############# */
    .menumenu_footer {  background: none repeat scroll 0 0 transparent;display: block;height: 140px;margin-left: 35px;margin-right: 0;margin: 0;}
    
    /* #############  Menu FOOTER Esquerda   ############# */.moduletable_footer_left { float: left; width: 170px; margin-top: 15px;}
    .moduletable_footer_left h3 {color: #aaa;font-size: 13px;font-weight: normal;margin: 0;text-decoration: underline;padding: 0;text-align: left;text-indent: 0;}
    .moduletable_footer_left ul.menu {text-align: left;padding-left: 0px;list-style: none;}
    .moduletable_footer_left ul.menu {margin-top:20px;}
    .moduletable_footer_left ul.menu li { height: 22px;text-align: left;}
    .moduletable_footer_left ul.menu li a{display: inline-block!important;text-transform: uppercase;color: #aaa; text-decoration: none;font-size: 12px; text-align: left;  padding: 0px!important; }
    .moduletable_footer_left ul.menu li a:hover {text-decoration: underline;}
    .moduletable_footer_left ul.menu li.active a:link,
    .moduletable_footer_left ul.menu li.active a:visited {font-weight:bold;background-color:none; color: #64c1ce; text-transform: uppercase;}
    .menumenu_footer li.current,
    .menumenu_footer li.active,
    .menumenu_footer li {background: none repeat scroll 0 0 transparent;color: #aaa;display: block;float: none;font-size: 11px;list-style: none outside none;margin-bottom: 3px;margin-right: 3px;padding: 0 8px;text-align: left;text-transform: uppercase;}
    ul.menumenu_footer ul{background: none;}
    ul.menumenu_footer li a {text-decoration:none;text-transform:uppercase; color:#fff;}
    .menuitem{padding-top:4px;}
    .menu-hor div.moduletable ul li a span { border-right: 1px solid #CE0005!important; margin-left: 10px;padding-right: 10px;}
    
    /* ++++++++++++++  first level  ++++++++++++++ */
    #nav .moduletable-example ul.menu {margin:0; padding:0;}
    ul.menu {list-style-type:none !important; margin:0 0 0px 0px ; padding: 0px;}
    .module_content ul.menu { margin-left:-5px; padding:10px 0 0 0 ;}
    ul.menu li { }
    ul.menu li a:link,
    ul.menu li a:visited{display:block;padding:7px 4px 7px 15px;text-decoration:none;/*color:#444;*/font-size: 12px;font-weight:normal;}
    ul.menu li.active a:link,
    ul.menu li.active a:visited {font-weight:bold;}
    ul.menu{}
    .module_content ul.menu {border:0;}
    ul.menu li.active a:link,
    ul.menu li.active a:visited {color: #fff;}
    ul.menu li a:hover,
    ul.menu li a:active,
    ul.menu li a:focus,
    ul.menu li.active a:hover,
    ul.menu li.active a:active,
    ul.menu li.active a:focus {color: #fff;}
    
    /* ++++++++++++++  second level  ++++++++++++++ */
    ul.menu li ul { margin:0 ;padding:0 ;}
    ul.menu li ul li { margin:0; padding:0}
    ul.menu li.active ul li a:link,
    ul.menu li.active ul li a:visited{padding:5px 10px 5px 20px ;font-weight:normal;}
    ul.menu li.active ul li a.active:link,
    ul.menu li.active ul li a.active:visited{padding:7px 10px 7px 20px ;}
    ul li.active ul li.active a:link,
    ul li.active ul li.active a:visited{font-weight:normal;}
    ul.menu li ul{border:solid 0px #eee;}
    ul.menu li ul li{border:solid 0px #000;}
    ul.menu li.active ul li a:link,
    ul.menu li.active ul li a:visited{color:#64C1CE;border:0;}
    ul.menu li.active ul li.active a:link,
    ul.menu li.active ul li.active a:visited{border:0;color:#fff;}
    ul.menu li.active ul li a:hover,
    ul.menu li.active ul li a:active,
    ul.menu li.active ul li a:focus{color:#fff !important;}
    
    /* ++++++++++++++  third level  ++++++++++++++ */
    ul.menu li ul li ul{padding:5px 0 5px 0px;}
    ul.menu li ul li ul{border:0 !important;background:#f5f5f5 !important;padding-bottom:0}
    ul.menu li.active ul li.active ul li a:link,
    ul.menu li.active ul li.active ul li a:visited{background:#f5f5f5 ;border-bottom:solid 1px #fff;color:#444 ;padding:5px 4px 5px 30px;font-weight:normal;}
    ul.menu li.active ul li.active ul li.active a:link,
    ul.menu li.active ul li.active ul li.active a:visited{color:#333;font-weight:normal;}
    
    /* ++++++++++++++  fourth level  ++++++++++++++ */
    ul.menu li ul li ul li ul{border:solid 1px #eee !important;padding-top:10px !important;padding-bottom:10px !important;background:#fff url(../images/level4.png) repeat-x !important;}
    ul.menu li.active  ul li.active  ul li.active  ul li  a:link,
    ul.menu li.active  ul li.active  ul li.active  ul li a:visited{font-weight:normal;padding: 3px 2px 3px 40px;font-size:0.9em;background:#fff url(../images/arrow_small.png) no-repeat  30px 5px;color:#444}
    ul.menu li.active  ul li.active  ul li.active  ul li.active  a:link,
    ul.menu li.active  ul li.active  ul li.active  ul li.active a:visited{font-weight:normal;color:#333 }
    
    /* ++++++++++++++  fifth level  ++++++++++++++ */
    ul.menu li ul li ul li ul li ul{border:solid 0px #eee !important;padding-top:5px !important;padding-bottom:10px !important;background:#fff url(../images/level4.png) repeat-x !important;}
    ul.menu li.active  ul li.active  ul li.active  ul li.active	ul li  a:link,
    ul.menu li.active  ul li.active  ul li.active  ul li.active	ul li a:visited{font-weight:normal;padding: 3px 2px 3px 5px;font-size:0.9em;background:#fff ;color:#444;margin:0 10px  0 35px;border-bottom:solid 1px #ddd;}
    ul.menu li.active  ul li.active  ul li.active  ul li.active  ul li.active  a:link,
    ul.menu li.active  ul li.active  ul li.active  ul li.active  ul li.active a:visited{font-weight:normal; color:#333}
    
    /* ################ FOOTER ################# */
    div.moduletablemenuft {}
    ul.menumenufooter li { float: left; list-style:none;font-size: 11px;color:#333;background-color: #ebebeb;margin-right: 7px;padding: 4px;}
    ul.menumenufooter li a:hover { color: #000;}